body{
    background-color: dimgray;
}

.card {
    width: 30%;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .chat-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .chat-window {
    height: 220px;
    overflow-y: scroll;
  }
  
  .message-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #ccc;
  }
  
  .message-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    height: 20px;
  }
  
  .send-button {
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding: 7px 10px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }

  .local-chat{
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }


  @media (max-width: 650px) {
   .message-input{
    width: 40px;
   }
   .local-chat{
    width: 900px;
   }
}

@media (max-width: 700px) and (max-width: 750px){
  .message-input{
    width: 40px;
   }
}


details {
  max-height: 2em; 
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

details[open] {
  max-height: 200px; 
  overflow-y: auto; 
  border: 1px solid #ccc; 
  padding: 5px;
}